<div class="col-md-8">
  <div class="card">
    <div class="card-header">
      <strong>Редактирование заявления</strong>
      <%= link_to admin_bid_path(@bid), class: "float-right" do %>
        <i class="fa fa-search-plus"></i>
      <% end %>
    </div>
    <div class="card-body">
      <%= render 'bid_form', { bid: @bid, disabled: false } %>
    </div>
  </div>
</div>


