<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <strong>Оформить новую заявку</strong>
      </div>
      <div class="card-body">
        <%= render 'bid_form', { bid: @bid, disabled: false } %>
      </div>
    </div>
  </div>
</div>

