<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <strong>Редактирование факультета</strong>
        <%= link_to admin_faculty_path(@faculty), class: "float-right" do %>
          <i class="fa fa-search-plus"></i>
        <% end %>
      </div>
      <div class="card-body">
        <%= render 'faculty_form', { faculty: @faculty, disabled: false } %>
      </div>
    </div>
  </div>
</div>


