<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <strong>Добавить новый факультет</strong>
      </div>
      <div class="card-body">
        <%= render 'faculty_form', { faculty: @faculty, disabled: false } %>
      </div>
    </div>
  </div>
</div>

