<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">Меню</li>
      <li class="nav-item">
        <%= link_to admin_bids_path, class: "nav-link" do %>
          <i class="nav-icon icon-list"></i> Заявки
        <% end %>
      </li>
    </ul>
  </nav>
</div>
