<tr>
  <td><%= user.email %></td>
  <td><%= l user.created_at, format: :long %></td>
  <td class="table-actions-td">
    <%= link_to edit_admin_user_path(user), class: "btn btn-info" do %>
      <i class="fa fa-edit"></i>
    <% end %>
    <%= link_to admin_user_path(user), method: 'delete', class: "btn btn-danger", data: {confirm: 'Вы уверены?'}  do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  </td>
</tr>
