<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card">
      <div class="card-header">
        <strong>Создание пользователя</strong>
      </div>
      <div class="card-body">
        <%= render 'user_form', { user: @user } %>
      </div>
    </div>
  </div>
</div>
